<div style="text-align: center;margin-top: 50px;">
          <p style="color:#007bff;font-size: 40px">Proyectos</p>
        
        <div class="project-container">
          
          <a href="/exp_electronica" class="project">
            <h5>Eléctronica</h5>
            <img src="1.jpg" alt="Proyecto 1" title="Eléctronica">
   
       
          </a>
          
          <a href="#" class="project">
            <h5>Comptuación</h5>
            <img src="2.jpg" alt="Proyecto 2">
          </a>
          <a href="#" class="project">
            <h5>Robótica</h5>
            <img src="3.jpg" alt="Proyecto 3">
          </a>
          <a href="https://valiant-spectacled-resonance.glitch.me/" class="project">
            <h5>Chat Bot</h5>
            <img src="bot.png" alt="Proyecto 4">
          </a>
        </div>
        </div>
      </section>
