<div style="text-align: center;margin-top: 50px;">
      <section class="JavaScript">
        <p style="color:#007bff;font-size: 40px ; text-align: center">Skills</p>
        
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h2>Frontend</h2>
              <div class="project-container">
              <ul>
                
                <a href="" class="logo"><img src="react.png" alt="React" class="project-logo" style="width: 45px;"></a>
            
                <a href="/javascript"><img src="JavaScript.png" alt="JavaScript" class="project-logo"></a >
                <a href="#"><img src="html.png" alt="HTML" class="project-logo"></a>
                <a href="#"><img src="css.png" alt="CSS" class="project-logo"></a>
                <a href="#"><img src="vue.png" alt="Vue" class="project-logo"></a>
                
              </ul>
            </div>
            </div>
            <div class="col-md-4">
              <h2>Backend</h2>
              <ul>
                <a><img src="nodejs.png" alt="Node.js" class="project-logo" style="height: 40px;"></a>
                <a><img src="python.png" alt="Python" class="project-logo"></a>
              </ul>
            </div>
            <div class="col-md-4">
              <h2>Bases de datos</h2>
              <ul>
                <a><img src="mongodb.png" alt="MongoDB" class="project-logo"></a>
                <a><img src="MySQL.png" alt="MySQL" class="project-logo"></a>
                <a><img src="sqlserver.png" alt="SQL Server" class="project-logo"></a>
              </ul>
            </div>
          </div>
        </div>
      </section>
       
</div>
<p style="color:#007bff;font-size: 40px ; text-align: left; padding: 0px 10% 0;">Experience</p>
        
      <section class="homes" style="padding: 0px 10% 0">
        <div class="home-content">
            <h3>JavaScript</h3>
            <p style="text-align: center">JavaScript es un lenguaje de programación esencial en el ámbito web que permite agregar interactividad y funcionalidad a las páginas web. Con JavaScript, se pueden crear aplicaciones web más dinámicas y atractivas, lo que mejora la experiencia del usuario y hace que las páginas sean más útiles y efectivas.</p>
            <p>Mi experiecia acumulada en el presente lenguaje de programación lo describire con ejemplos y codigo en Github</p>
            <h3>NodeJs</h3>
              <p>Con conocimientos intermedios en el Framework NodeJs, creacion de rutas, conexion a la base de datos, creacion de tablas, variables de entorno, SocketIo, creacion de CRUD, PopUps y deploys entre otros. El proyecto se llama <a href="https://valiant-spectacled-resonance.glitch.me/">ChatBot</a></p>
            <h4>BotKit</h4>
            <p>Creación de un bot con el framework botkit que esta construido a la vez con codigo TypeScript y JavaScript permitiendome crear ChatBots configurables, es decir agregar, eliminar y editar el prompt o palabra clave que recibirá el <a href="https://valiant-spectacled-resonance.glitch.me/">ChatBot</a></p>
            <div class="social-media">
              <a href="https://github.com/dhery123/mrbot"><i class='bx bxl-git' ></i></a>

            </div>
            <h4>Vue</h4>
              <p>Proyecto de registro de Citas para un Centro de Apoyo Escolar, creada con Node-Express en Backend, junto al ChatBot para los clientes.<a href="https://glitter-melodic-doom.glitch.me">ChatBot</a></p>
            
            <h4>React</h4>
              <p>Proyecto de registro de Citas para un Centro de Apoyo Escolar, creada con Node-Express en Backend, junto al ChatBot para los clientes.<a href="https://valiant-spectacled-resonance.glitch.me">ChatBot</a></p>
            <h3>Herramientas</h3>
            
            <h4>JsonwebToken</h4>
              <p>Para un mejor control de las citas el usuario obtendra un token mediante correo y con eso tendra paso a crear una cita. Registre una cita con el PopUp <a href="https://glitter-melodic-doom.glitch.me/">Aquí</a></p>
            <h4>NodeMailer</h4>
              <p>Una herramienta que nos permite enviar correo electronico automaticamente, utilizado para enviar el token mediante correo electronico. Registre una cita con el PopUp <a href="https://glitter-melodic-doom.glitch.me/">Aquí</a></p>
            <h4>Socket.io</h4>
              <p>Una herramienta poderosa que sirve para conectar el usuario con el servidor como ejemplo en mi proyecto fue utilizado para el horario de las citas, si distintos usuarios se quieren registrar al mismo tiempo hay un problema, solucion SocketIo para conectar los horarios con la base de datos y mostrar inmediatamente la consulta si esta disponible el horario.<a href="https://valiant-spectacled-resonance.glitch.me/">ChatBot</a></p>
            <h3>Python</h3>
              <p>Con conocimientos avanzados en el lenguaje de programación Python, en la automatización de tareas, creacion automática de archivos JavaScript, creación de ventanas con Tkinter, Scraping, conexion a API's como ser Facebook, Twitter, Twitch, Whatsapp entre otros, conexion con el bash de Windows y linux para ejecutar comandos, creación de reportes con Canvas, conexion a base de datos, entre otros</p>
            <div class="social-media">
              <a href="https://github.com/dhery123/Python-proy"><i class='bx bxl-git' ></i></a>

            </div>
            <h3>Herramientas</h3>

             <h4>Tkinter</h4>
              <p>Para crear y desarrollar aplicaciones de escritorio, permitiendome ejecutar comandos, diseñar ventanas, crear tablas, hacer consultas, todo con un desarrollo entendible para el cliente</p>
            <h4>selenium</h4>
              <p>Para la automatizacion de tareas o extracción o control de datos.</p>
            <h4>Pymongo</h4>
              <p>Una herramienta para la conexión a la base de datos MongoDB</p>
            <h4>PIL</h4>
              <p>Una herramienta poderosa que sirve para manipular archivos de todo tipo</p>
            
            <h4>GraphAPI</h4>
              <p>Utilizada para la conexión a las API´s de Facebook con el fin de automatizar, leer datos, subir y descargar archivos entre otros.</p>
           <h4>canvas</h4>
              <p>Una herramienta que sirve para la creación de documentos en PDF.</p>
             <h4>tweepy</h4>
              <p>Utilizada para la conexión a las API´s de Twitter con el fin de automatizar, leer datos, subir y descargar archivos entre otros.</p>
             <h4>shutil</h4>
              <p>Una herramienta con funciones de copiar, mover, eliminar archivos.</p>
            
            
            

    </div>  
    <div class="home-img">
      <img src="JavaScript-Frameworks.png" alt="">
      <img src="Skills.png" alt="">

    </div>
    
       
</div>
