
<!DOCTYPE html>
<html>
    {{> head}}
    <body style="background:#18191a">
        {{>header}}
        <div class="wrapper">
          {{{body}}}
        </div>
        <footer style="background-color: #333; color: #fff; padding: 50px 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Contacto</h4>
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope"></i> Correo Electrónico: reptex123@gmail.com</li>
          <li><i class="fa fa-phone"></i> Teléfono Celular: +597 73870988</li>
        </ul>
      </div>
     
      <div class="col-md-4">
        <h4>Redes sociales</h4>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
          <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
          <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>© 2023 Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</footer>
    </body>
    <script src="main.js"></script>
</html>
